.estateSaleList {
  max-width: 1440px;
  margin: auto;
  padding: 20px 130px;
}

.saleCard {
	margin: 20px auto;
	height: 600px;
	width: 300px;
	box-shadow: 0 0 10px #ccc;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

.content {
	padding: 10px;
	max-height: 30%;
	overflow: auto;
}

.saleImages {
	max-height: 60%;
}