@import './mixins.scss';

.mapContainer {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	align-items: center;

	.map {
		margin: auto;
		height: 600px;
		width: 800px;
	}

	.mapSaleCard {
		max-width: 100%;
	}
}

// .fakeHeader {
// 	height: 60px
// }

@include mobile {
	.mapContainer {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		// 120px for header
		// height: 100%;
		
		.map {
			// height: calc(100% - 80px);
			height: 100%;
			width: 100%;
			margin: unset;
			margin-top: unset;
			position: relative;

			.mapSaleCard {
				background-color: black;
				color: white;
				padding-top: 8px;
				max-width: 100%;
				width: 100%;
				text-align: center;
				transition: height 250ms ease-in-out;

				display: flex;
				flex-direction: column;
				
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				
				z-index: 10;

				&.hidden {
					height: 0;
				}
		
				&.minimized {
					height: 40%;

					.imageSliderWrapper {
						margin-top: auto;
						margin-bottom: auto;
					}
				}

				&.full {
					height: 100%;
					padding: 0 25px 25px;

					.imageSliderWrapper {
						margin-bottom: 0;
						max-height: 50%;
					}
				}

				h3 {
					margin-bottom: 10px;
					color: white;
				}

				.content {
					text-align: left;
					max-height: 40%;
					overflow-y: scroll;
				}

				.imageSliderWrapper {
					margin-top: auto;
				}

				.saleImage {
					max-height: 300px;
					object-fit: contain;
					
					&.minimized {
						object-fit: contain;
						max-height: 200px;
					}
				}

				.minimizedHeader {
					display: flex;
					justify-content: space-between;
				}
				
				.viewToggle {
					background-color: black;
					color: white;
					border: 0;
					padding: 4px 10px;
					transition: transform 250ms linear;

					&.up {
						transform: rotate(-90deg);
						margin-bottom: 10px;
					}

					&.down {
						margin-top: 10px;
						transform: rotate(90deg);
					}
				}
			}

		}
	}
}
.infoBoxS {
	.infoBoxContainer {
		background-color: black;
		color: white;
		max-width: 70%;
		padding: 20px;

		p strong {
			color: lightgreen;
		}

		.matchingSaleContainer {
			max-width: 250px;

			.matchingSale {
				font-size: 12px;
				padding: 8px;
				border: solid green 1px;
				border-radius: 12px;
				margin: 8px 0;
				cursor: pointer;
				
				.saleDetailsBtn {
					font-size: 12px;
					display: block;
					margin: auto;
					background-color: transparent;
					color: lightgreen;
					border: none;
					padding: 8px 0;
					cursor: pointer;
				}
			}

			.sliderController {
				width: 100%;
				display: flex;
				justify-content: space-between;
				gap: 10px;

				button {
					width: 50%;
					border: 0;
					border-radius: 8px;
					&:hover {
						transform: scale(1.05);
						box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
					}

					&:active {
						transform: scale(0.95);
						box-shadow: none;
					}
				}

			}
		}

		.closeBtn {
			background-color: lightgreen;
			border: none;
			border-radius: 12px;
			padding: 8px 20px;
			margin-top: 10px;
			width: 100%;
			color: white;
		}

	}
}