@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #3c3939;
  }
  100% {
    background-color: #141414;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #3c3939;
  }
  100% {
    background-color: #141414;
  }
}

#__next {
  --doc-height: 100%;
}

.mapContainer {
  width: 100%;
  height: 100vh;
  height: var(--doc-height);
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapContainer .map {
  margin: auto;
  height: 600px;
  width: 800px;
}

.mapContainer .mapSaleCard {
  max-width: 100%;
}

@media (max-width: 599px) {
  .mapContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .mapContainer .map {
    height: 100%;
    width: 100%;
    margin: unset;
    margin-top: unset;
    position: relative;
  }
  .mapContainer .map .mapSaleCard {
    background-color: black;
    color: white;
    padding-top: 8px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    -webkit-transition: height 250ms ease-in-out;
    transition: height 250ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .mapContainer .map .mapSaleCard.hidden {
    height: 0;
  }
  .mapContainer .map .mapSaleCard.minimized {
    height: 40%;
  }
  .mapContainer .map .mapSaleCard.minimized .imageSliderWrapper {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mapContainer .map .mapSaleCard.minimized .imageSliderWrapper.skeleton {
    width: 70%;
    height: 70%;
    margin: auto;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
  }
  .mapContainer .map .mapSaleCard.full {
    height: 100%;
    padding: 0 25px 25px;
  }
  .mapContainer .map .mapSaleCard.full .imageSliderWrapper {
    margin-top: auto;
    margin-bottom: auto;
    max-height: 50%;
  }
  .mapContainer .map .mapSaleCard.full .imageSliderWrapper.skeleton {
    width: 70%;
    height: 40%;
    margin: auto;
    position: relative;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
  }
  .mapContainer .map .mapSaleCard.full .imageSliderWrapper.skeleton:after {
    content: '';
    width: 30px;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
  }
  .mapContainer .map .mapSaleCard h3 {
    margin-bottom: 10px;
    color: white;
  }
  .mapContainer .map .mapSaleCard .content {
    text-align: left;
    max-height: 40%;
    overflow-y: scroll;
  }
  .mapContainer .map .mapSaleCard .content.skeleton {
    width: 100%;
    height: 30%;
    margin: auto;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
  }
  .mapContainer .map .mapSaleCard .imageSliderWrapper {
    margin-top: auto;
  }
  .mapContainer .map .mapSaleCard .saleImage {
    max-height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mapContainer .map .mapSaleCard .saleImage.minimized {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 200px;
  }
  .mapContainer .map .mapSaleCard .cardHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mapContainer .map .mapSaleCard .cardHeader.minimized {
    padding: 0 25px;
  }
  .mapContainer .map .mapSaleCard .cardHeader.minimized h3 {
    text-align: left;
  }
  .mapContainer .map .mapSaleCard .cardHeader.minimized .skeletonMiniHeader {
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
    width: 50%;
    height: 20px;
    margin: auto;
  }
  .mapContainer .map .mapSaleCard .viewToggle {
    background-color: black;
    color: white;
    border: 0;
    padding: 4px 10px;
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
  .mapContainer .map .mapSaleCard .viewToggle.up {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-bottom: 10px;
  }
  .mapContainer .map .mapSaleCard .viewToggle.down {
    margin-top: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .mapContainer .map .mapSaleCard .host {
    margin-left: auto;
    padding: 0 10px 10px;
  }
  .mapContainer .map .mapSaleCard .host a {
    text-decoration: underline;
  }
  .mapContainer .map .mapSaleCard .host.skeleton {
    width: 30%;
    height: 20px;
    margin-bottom: 10px;
    font-size: 0;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
            animation: skeleton-loading 1s linear infinite alternate;
  }
}

.infoBoxS .infoBoxContainer {
  background-color: black;
  color: white;
  max-width: 70%;
  padding: 20px;
}

.infoBoxS .infoBoxContainer p strong {
  color: lightgreen;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer {
  max-width: 250px;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .matchingSale {
  font-size: 12px;
  padding: 8px;
  border: solid green 1px;
  border-radius: 12px;
  margin: 8px 0;
  cursor: pointer;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .matchingSale .saleDetailsBtn {
  font-size: 12px;
  display: block;
  margin: auto;
  background-color: transparent;
  color: lightgreen;
  border: none;
  padding: 8px 0;
  cursor: pointer;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .sliderController {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .sliderController button {
  width: 50%;
  border: 0;
  border-radius: 8px;
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .sliderController button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.infoBoxS .infoBoxContainer .matchingSaleContainer .sliderController button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.infoBoxS .infoBoxContainer .closeBtn {
  background-color: lightgreen;
  border: none;
  border-radius: 12px;
  padding: 8px 20px;
  margin-top: 10px;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=map.module.css.map */