@mixin mobile {
  @media (max-width: 599px) { @content; }
}

@mixin tablet {
  @media only screen and (min-width: 599px) and (max-width: 1280px) {
    @content;
  }
}



@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 2%, 23%);
  }
  100% {
    background-color: hsl(0, 0%, 8%);
  }
}

@mixin skeleton($height, $width) {
  height: $height;
  width: $width;
  
  animation: skeleton-loading 1s linear infinite alternate;
}
