@import './mixins.scss';

.tabHeader {
	width: 100%;
	ul {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 12px;
		overflow-y: scroll;
		white-space: nowrap;
		padding: 10px;

		.tabHeaderButton{
			border-bottom: 1px solid transparent;
			text-transform: capitalize;
			&.activeTab {
				color: lightgreen;
				border-bottom: 1px solid lightgreen;
			}

			&.skeleton {
				height: 20px;
				width: 25%;
				@include skeleton()
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}